{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{% static 'images/person.png' %}"
                         alt="no profile picture">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>

                    <!-- Show button for edit and delete if its OWNER -->
                    {% if is_owner %}

                        <a href="{% url 'profile edit' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                 alt="edit button">
                        </a>

                        <a href="{% url 'profile delete' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                                 alt="bin button">
                        </a>

                    {% endif %}

                </div>

                <div class="data">
                    <span>{{ doctors_count }}</span>
                    <p>doctors</p>

                    <span>{{ patient_count }}</span>
                    <p>patients</p>

                    <span>{{ likes_count }}</span>
                    <p>likes</p>
                </div>

                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% else %}
                    <h3 class="names">{{ object.username }}</h3>
                {% endif %}

                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    {{ object.gender }}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="pets">
        <div class="statuses">

            {% for patinet in object.patient_set.all %}
                <a href="{% url 'show_patient_details' username=patinet.user.username %}">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <img src="{{ patinet.personal_photo }}"
                                     alt="patient img">
                            </div>
                        </div>
                        <p>{{ patinet.name }}</p>
                    </div>
                </a>
            {% endfor %}

            {% if not object.patient_set.all %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endif %}

        </div>

        <span style="font-size: 30px;color: #303636;font-weight: bold" class="current">Page {{ doctors.number }}.</span>

        <div class="pet-photos">
            {% for doctor in doctors %}
                <a href="{% url 'show_doctor_details' pk=doctor.pk %}">
                    {# img src="/media/{{ pet_photo.photo }}" alt="pet img"> #}
                    <img src="{{ doctor.photo.url }}" alt="pet img">
                </a>
            {% endfor %}

            {# PAGINATOR #}
            <div class="pagination">
                <span class="step-links">
                    {% if doctors.has_previous %}
                        <a style="color: blue;font-size: 26px" href="?page=1">&laquo; FIRST</a>
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ doctors.previous_page_number }}">PREVIOUS</a>
                    {% endif %}
                    <span style="font-size: 30px"
                          class="current">Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}.</span>
                    {% if doctors.has_next %}
                        <a style="color: red;font-size: 26px; font-weight: bold"
                           href="?page={{ doctors.next_page_number }}">NEXT</a>
                        <a style="color: blue;font-size: 26px" href="?page={{ doctors.paginator.num_pages }}">LAST &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>

{% endblock %}
